block append variables
    - $title = "Index"

block content
    div(class="flex")
        div(class="uk-position-center ")
            div(class="uk-card uk-card-default uk-card-hover uk-card-body")
                h3.uk-card-title Hello from Pug rendering