block variables
doctype
html
    head
        title= $title ?? ($error ? $error->getMessage() : 'Error')
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet' href="//cdnjs.cloudflare.com/ajax/libs/uikit/3.1.6/css/uikit.min.css")
        block script
            script(src="//cdnjs.cloudflare.com/ajax/libs/uikit/3.1.6/js/uikit.min.js")
            script(src="//cdnjs.cloudflare.com/ajax/libs/uikit/3.1.6/js/uikit-icons.min.js")
    body
        h2 Error #{$error ? $error->getCode() : ''}
        div= $error ? $error->getMessage() : ''
        block content
